{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block body %}

    {% if session["user_id"] %}
        <h2>Hello!</h2>
        <div>
            <p>Glad to see you here at Dashcards!</p>
            <p>Don't forget - spaced repetition (also known as distributed practice) is a really valuable study tool and has been <a href="https://www.edapp.com/blog/evidence-around-spaced-repetition/" class="link-secondary light-mode">proven</a> to aid with long-term learning.</p>
            <p>So make sure you keep coming back and testing yourself!</p>
            <a href="/cards" type="button" class="btn btn-lg btn-info">Start Session Now</a>
        </div>
    {% else %}
        <h2>Welcome to Dashcards!</h2>
        <p>Hello, and welcome! Dashcards is a spaced repetition flashcards tool, designed to help you learn and memorise simple questions and answers - be that to learn foreign language vocabulary, definitions of complex scientific terms, and so on!</p>
        <p>Spaced repetition (also known as distributed practice) is a really valuable study tool and has been <a href="https://www.edapp.com/blog/evidence-around-spaced-repetition/" class="link-secondary light-mode">proven</a> to aid with long-term learning.</p>
        <p>This site was built as Dasha Barsky's final project for the <a href="https://cs50.harvard.edu/x/" class="link-secondary light-mode">CS50x Computer Science course</a> which she's been taking, and is very excited about!</p>

        <div class="row justify-content-center">
            <div class="col-md-6 d-grid mb-2">
                <a href="/login" type="button" class="btn btn-lg btn-info btn-block">Login</a>
            </div>
            <div class="col-md-6 d-grid mb-2">
                <a href="/register" type="button" class="btn btn-lg btn-dark btn-block light-mode">Register</a>
            </div>
        </div>

    {% endif %}

{% endblock %}